/* styles.css */

.root {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-background-color: #c6cfd4;
}

.title-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2C3E50;
}

.button {
    -fx-background-color: linear-gradient(to bottom, #366ead, #8793b3);
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #66BB6A, #388E3C);
}

.titled-pane > .title {
    -fx-background-color: #E8F5E9;
    -fx-font-weight: bold;
    -fx-text-fill: #2C3E50;
}

.titled-pane > .content {
    -fx-background-color: white;
    -fx-padding: 10;
}

.tab-pane .tab-header-area {
    -fx-background-color: #6d83ad;
}

.tab-pane .tab:selected {
    -fx-background-color: #2C3E50;
    -fx-text-fill: white;
}

.table-view {
    -fx-background-color: white;
    -fx-border-color: #BDBDBD;
    -fx-border-radius: 4;
}

.table-view .column-header {
    -fx-background-color: #C8E6C9;
    -fx-font-weight: bold;
}

.list-view, .tree-view {
    -fx-background-color: white;
    -fx-border-color: #BDBDBD;
}